.title{
    height: 10vh;
    background-color: rgb(24, 53, 99);
    padding: 10px;
    border: none;
    justify-items: center;
    justify-content: center;
    h3{
        font-size: 2rem;
        font-weight: 500;
        font-family: 'Tilt Neon', sans-serif;
        text-align: center;
        color: rgb(246, 254, 173);
        background-color: rgb(24, 53, 99);
    }
    .btn{
        padding: 5px 10px;
        font-size: 18px;
        font-weight: 500;
        border: none;
        border-radius: 5px;
        background-color: rgb(245, 248, 194);
        &:active{
            background-color: rgb(174, 219, 140);
        }
    }
}
.cont{
    display: inline-block;
    justify-items: center;
    justify-content: center;
    padding: 3%;
    background-color: rgb(24, 53, 99);
}