<style>
    @import url('https://fonts.cdnfonts.com/css/tilt-neon');
</style>
<div class="c">
    <div class="container">
        <app-card
            image="/images/personajes.png"
            title= "Personajes"
            info="Personajes de Rick and Morty"
            text_btn="Ver Más"
            [clickEvent]="verPersonajes"
        />
        <app-card
            image="/images/episodes.jpeg"
            title= "Capitulos/Episodios"
            info="Capitulos de Rick and Morty"
            text_btn="Ver Más"
            [clickEvent]="verCaps"
        />
    </div>
</div>
